<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova remessa foi cadastrada em nosso sitema e já está disponível para entrega.</p>
<ul>
  <li>Remessa: {{ id }} | Nome do produto: {{ product }}</li>
  <li>Endereço de entrega: {{ address_street }}, {{ address_number }} | CEP: {{ zip_code }}</li>
</ul>
